{% extends "layout.njk" %}

{% block content %}
<main class="container">
    <h1>{{ title }}</h1>
    <h2>{{ bird.id }}. {{ bird.name }}</h2>
    <p>Wingspan för {{ bird.name }}: {{ bird.wingspan }} CM</p>
    <p>{{ bird.name }} species id är nr.{{bird.species_id}}. Vilket är en {{bird.species_name}}</p>
    <img src="{{ bird.species_img }}" alt="{{ birds.name }}">


</main>
{% endblock %}