{%extends "layout.njk"%}
{%block content%}
<main>
    <p><a href="/">Gå tillbaka!</a></p>
    <h1>{{ title }}</h1>
    
    {% for bird in birds %}
    <h1>{{ bird.id }}. {{ bird.name }}</h1>
    <p>Wingspan för {{ bird.name }}: {{ bird.wingspan }} CM</p>
    <p>{{ bird.name }} species id är nr.{{bird.species_id}}. Vilket är en {{bird.species_name}}</p>
    <h3>Gå till <a href ="/birds/{{ bird.id }}">{{ bird.name }}</a> Sida!</h3>
   
    {% endfor %}

    
</main>
{%endblock%}