{%extends "layout.njk"%}
{%block content%}
<main>
    <h1> {{ message }} </h1>
    <p><a href="/birds/1">Gå till Dodo!</a></p>
    <p><a href="/birds/2">Gå till Anka!</a></p>
    <p><a href="/birds/3">Gå till Sperv!</a></p>
</main>
{%endblock%}